body {
  background-color: inherit;
  padding-top: 50px;
}

.text-center {
  text-align: center;
}

.img-placeholder-container {
  border-radius: 1rem;
}

.img-placeholder {
  fill:rgb(169,169,169);
  stroke-width:3;
  stroke:rgb(256,256,266);
}

.poster-container {
  position: relative;
  .result-in-collection {
    position: absolute;
    top: -20px;
    left: -1px;
    color: lightgreen;
  }
}

.modal-body {
  .result-in-collection {
    left: -20px;
  }
}

@import '_details_modal.scss';
@import 'my_collection';
@import 'moviedb_search';